td {
    border: 1px solid black;
    font-weight: bold;
    text-align: center;
    line-height: 2;
    width: 15%;
    padding: 10px; /* Adicionado padding para espaçamento interno */
}

table {
    border: 1px solid black;
    background-color: #E6E6FA;
    border-collapse: collapse; /* Adicionado para mesclar as bordas das células */
    width: 100%; /* Adicionado para ocupar toda a largura disponível */
}

a {
    text-decoration: none;
    color: #9370DB;
}

tr.header {
    background-color:  #9370DB;
    color: white;
    height: 30px;
}

h2 a {
    color: #000000;
}

h2 a:hover {
    text-decoration: underline;
}
